*,
::before,
::after {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

@mixin move($pos) {
    @if $pos == topLeft {
        top: 0;
        left: 0;
    }

    @if $pos == topRight {
        top: 0;
        right: 0;
    }

    @if $pos == bottomRight {
        bottom: 0;
        right: 0;
    }

    @if $pos == bottomLeft {
        bottom: 0;
        left: 0;
    }

    @if $pos == centerCenter {
        top: 50%;
        right: 50%;
        translate: -50% -50%;
    }
}

@mixin screen($device) {
    @if $device == desktop {
        @media (min-width: 1024px) {
            @content;
        }
    }

    @if $device == tablet {
        @media (max-width: 991.98px) {
            @content;
        }
    }
    @if $device == mobile {
        @media (max-width: 575.98px) {
            @content;
        }
    }
}

.box {
    position: relative;
    width: 500px;
    height: 500px;
    background: red;
}

.box-item {
    position: absolute;
    @include move(centerCenter);
    width: 200px;
    height: 200px;
    background: orange;
}
